.settings .section {
  border-top: 3px solid #f7f7f7;
  padding: 30px 0px;
}

.settings .settings__icon {
  font-size: 20px;
  margin-right: 20px;
}

.settings__setting .settings__title,
.settings__notification .notification__title {
  font-size: 22px;
  font-weight: 300;
}

.settings .settings__setting,
.settings .settings__notification {
  margin-bottom: 30px;
}
.settings .settings__setting:last-child,
.settings .settings__notification:last-child {
  margin-bottom: 0px;
}

.settings .version {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.version .notication__column:last-child {
  opacity: 0.7;
}
